<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Workshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Scheduling of facility / course workshops.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= config_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
